.reset-password-div {
    display: grid;
    background-color: white;
    padding: 1rem;
    place-items: center;
    line-height: 2.5rem;
    grid-template-columns: minmax(1rem, 1fr) minmax(400px, 1fr) minmax(1rem, 1fr);
    grid-template-areas: ". reset-password-form .";
}

.reset-password-form {
    min-width: 100%;
    grid-area: reset-password-form;
}

.reset-password-form input {
    min-width: 100%;
    padding: 0.5rem;
    height: 2.5rem;
    margin-bottom: 0.3rem;
}

.reset-password-button {
    min-width: 100%;
}

@media (max-width: 995px) {
    .reset-password-div {
        height: 120%;
        grid-template-columns: minmax(1rem, 1fr) minmax(190px, 3fr) minmax(1rem, 1fr);
    }
}

@media (max-width: 370px) {
    .reset-password-div {
        line-height: 1.5rem;
    }

    .reset-password-title {
        margin-bottom: 0.4rem;
    }
}